$darkgray : black;
$lightergray :#3D3D3D;
$lightgray:#525252;
@media only screen and (max-width: 900px) and (min-width: 660px)   {
  .page-area{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
  }
  .header{
    &--nav{
      width: 100vw;
      &-h1{
        font-size: 1rem;
      }
      &--ul{
        font-size: 0.5rem;
      }
    }
  }
  .reservationArea{
    width: 100vw;
    & input:nth-child(2){
      display: none;
    }
    & select{
      display: none;
    }
  }
  main{
    .FoodArea--box{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      "box1"
      "box3"
      "box2" 
      "box4"
      "box5";
      &--topleft{
        grid-area:box1 ;
        background-color: rgba(255, 255, 255, 0.5);
      }
      &--topright{
        grid-area:box2 ;
        & h1{
          font-size: 1.3rem;
        }
      }
      &--middleleft{
        grid-area:box3 ;
        & i {
          font-size: 2rem;
        }
      }
      &--bottomleft{
        grid-area:box4 ;
        & h1{
          font-size: 1.3rem;
        }
      }
      &--bottomright{
        grid-area:box5;
        & h1{
          font-size: 1.3rem;
          height: 30%;
        }
        &-ingrediants{
          display: none;
        }
        &-ingrediantslist{
          text-align: left;
          height: 70%;
          width: 100%;
          background-color: rgba(175, 175, 175,0.6);
          overflow: auto;
        }
      }
    }
    
    .selectionArea{
      height: 95vh;
      &--grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
    }
    .photoArea{
      &--block--box1 p{
        font-size: 3rem;
      }
    }
  }

}
@media only screen and (max-width: 660px) {
.page-area{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
  }
  .header{
    &--nav{
      width: 100vw;
      &-h1{
        font-size: 1rem;
        text-align: center;
      }
      &--ul{
        display: none;
      }
    }
  }
  .reservationArea{
    width: 100vw;
    & form{
      width: 100%;
      & select{
        display: none;
      }
      & input:nth-child(2){
        display: none;
      }
    }
  }
  main{
    .starterArea{
      height: 100vh;
      width: 100%;
      &--template{
        display: flex;
        height: 95%;
        width: 100%;
        background-image:url(/images/resturant1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        & .fa-long-arrow-alt-left{
          display: none;
        }
        &--centerScreen{
          width: 100%;
          text-align: center;
          font-size: 2.5rem;
          color: white;
        }
        & .fa-long-arrow-alt-right{
          display: none;
  
        }
      }
    }
    .counter{
      display: flex;
      height: 180px;
      width: 100%;
      background-color: $lightergray;
      justify-content: center;
      &--left{
        display: none;
      }
      &--numbers{
        display: flexbox;
        height: 100%;
        width: 100%;
        border-bottom: thin $darkgray solid;
        background-color: $lightgray;
        & h3{
          text-align: center;
          background-color: white;
        }
        &--container{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 70%;
          font-size: 2rem;
        }
      }
      &--right{
        display: none;
      }
    }
    .FoodArea--box{
      height: 95%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      "box1"
      "box3"
      "box2" 
      "box4";
      &--topleft{
        grid-area:box1 ;
      }
      &--topright{
        grid-area:box2 ;
        & h1{
          font-size: 1rem;
        }
      }
      &--middleleft{
        grid-area:box3 ;
        &--searchArea{
          display:flex;
          width: 100%;
          height: 100%;
          align-items: center;
          flex-direction: column;

          & input{
            display: flexbox;
            width: 100%;
            height: 50%;
            font-size: 1.5rem;

          }
          & h2{
            display: flexbox;
            width: 100%;
            height: 50%;
            font-size: 1rem;
            text-align: center;
            background-color: $lightergray;
            & i {
              font-size: 3rem;
            }
          }
        }
      }
      &--bottomleft{
        grid-area:box4 ;
        overflow: hidden;
        & h1{
          font-size: 1rem;
        }
        &-table{
          overflow-y: auto;
        }
      }
      &--bottomright{
        display: none;
      }
    }
    
    .selectionArea{
      height: 150vh;
      &--grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;
        &--box1{
          background-position: center;
        }
        &--box2{
          background-position: center;
        }
        &--box3{
          background-position: center;
        }
        &--box4{
          background-position: center;
        }
        &--box5{
          background-position: center;
        }
        &--box6{
          background-position: center;
        }
      }
    }
    .photoArea{
      height: 100vh;
      justify-content: center;
      align-items: center;
      &--block{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 0.1fr 0.1fr;
        grid-template-areas: 
        "box1 box1 "
        "box2 box2 "
        "box3 box3 "
        "box4 box4 "
        "box5 box5"
        "box6 box6";
        & .pics{
          max-height: 8px;
          width: 100%;
          object-fit: cover;
          
        }
        &--box1{
          grid-area: box1;
          font-size: 2.5rem;
        }
        &--box2{
          grid-area: box2;
        }
        &--box3{
          grid-area: box3;
        }
        &--box4{
          grid-area: box4;
        }
        &--box5{
          grid-area: box5;
        }
        &--box6{
          grid-area: box6;
        }

      }
    }
  }
  & .bottom-nav-space{
    height: 100px;
  }
}